*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse 
.classpath
.project
.settings*

# IntelliJ
.idea/
out/
target/
*.iml

# General #
.DS_Store

# Package Files #
*.jar
*.war
*.ear

# Editor
*.swp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/target/

# ignore files generated during test
/src/test/resources/bigwarp/url/imgDir3d/img3d0000.tif
/src/test/resources/bigwarp/url/imgDir3d/img3d0001.tif
/src/test/resources/bigwarp/url/imgDir3d/img3d0002.tif
/src/test/resources/bigwarp/url/imgDir3d/img3d0003.tif
/src/test/resources/bigwarp/url/img.tif
/src/test/resources/bigwarp/url/img2d.png
