###
# #%L
# BigWarp plugin for Fiji.
# %%
# Copyright (C) 2015 - 2022 Howard Hughes Medical Institute.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 2 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-2.0.html>.
# #L%
###
# Name: BigWarp
# Author: John Bogovic
# Version: 1.0.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>BigDataViewer, "Big Warp", bdv.ij.BigWarpImagePlusPlugIn
Plugins>BigDataViewer, "Big Warp Apply", bdv.ij.ApplyBigwarpPlugin
Plugins>BigDataViewer, "Big Warp to Displacement field", bdv.ij.BigWarpToDeformationFieldPlugIn
